<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item active"><a href="#" class="nav-link" (click)="onSelect('recipe')">Recipes</a></li>
            <li class="nav-item "><a href="#" class="nav-link" (click)="onSelect('shopping-list')">Shopping List</a></li>
            <li class="dropdown" appDropdown>
              <a href="#" role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="navbarDropdown" aria-haspopup="true" aria-expanded="false">Manage<span class="caret"></span></a>
              <div id="navbarDropdown" class="dropdown-menu collapse " aria-labelledby="navbarDropdown">
                  <li><a href="#">Save Data</a></li>
                  <li><a href="#">Fetch Data</a></li>
              </div>
            </li>
        </ul>

    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
      </li>
      <li class="nav-item dropdown navbar-right" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" appDropdown>
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul> 
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>