<div class="row">
  <div class="col-sm-12 col-md-12">
    <img [src]="recipe.imgPath" alt="{{ recipe.name }}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" >
        <li>
          <a href="#">Add Ingredients to shopping list</a>
        </li>
        <li>
          <a href="#">Edit Recipe</a>
        </li>
        <li>
          <a href="#">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>