<div class="row">
    <div class="col-sm-12 col-md-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <app-recipe-item *ngFor="let recipeEl of recipes" [recipe]="recipeEl" (recipeSelected)="onRecipeSelected(recipeEl)">
        </app-recipe-item>
    </div>
</div>